<template>
  <component :is="type" class="home">

    <!-- Nav -->
    <wrapper>
      <nav-bar active="Home" :navItems="[
        {name: 'Recipes', component: 'Home', href: '/home'},
        {name: 'Drinks', href: ''},
        {name: 'Decorations', href: ''},
        {name: 'About the grilled prawn', href: ''}
      ]"/>
    </wrapper>

    <!-- Banner -->
    <hero-banner></hero-banner>


    <!-- Our Recipes -->

    <!-- Recipe Cards -->

    <!-- Spread the word form -->

    <!-- Footer -->

  </component>
</template>

<script>
/**
 * Shows how to layout and structure a home page.
 */
export default {
  name: "Home",
  status: "deprecated",
  release: "1.0.0",
  metaInfo: {
    title: "Grilled Prawn | Home",
    htmlAttrs: {
      lang: "en",
    },
  },
  props: {
    /**
     * The html element name used for the component.
     */
    type: {
      type: String,
      default: "div",
    },
  },
}
</script>

<style lang="scss" scoped>
// Design Tokens with local scope
$color-template-background: $color-rich-black;
$color-template-background-top: tint($color-template-background, 5%);
$color-template-background-bottom: shade($color-template-background, 5%);
$color-template-text: $color-white;
$color-template-link: $color-bleu-de-france;

.index {
  @include reset;
  @include inset-space($space-base);
  min-height: $space-xx-large * 4;
  background: $color-template-background;
  background: linear-gradient(0deg, $color-template-background-bottom, $color-template-background-top 100%);
  text-align: center;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  @media #{$media-query-large} {
    // This is how you’d use design tokens with media queries
  }
  .heading {
    color: $color-template-text;
  }
  .text-style {
    color: $color-template-text;
  }
  .text-link {
    color: $color-template-link;
  }
  .wrapper {
    max-width: $space-xx-large * 4.5;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
  a {
    font-family: $font-family-text;
    color: $color-bleu-de-france;
    text-decoration: underline;
  }
}
</style>

<docs>
  ```jsx
  <index />
  ```
</docs>
