<template>
  <div class="hero-banner">
    <div class="hero-banner__img">
      <img src="" alt="">
    </div>
    <div class="hero-banner__copy">
        <heading class="hero-banner__heading" level="h1">Baked Polenta with Cheese and Mushrooms.</heading>
        <text-style class="hero-banner__leading">Polenta, goat cheese, Italian sausage, and cremini mushrooms. All together this will make for pretty darn good side dish to a lovely Salad. Go for it.</text-style>
    </div>
    </div>
</template>

<script>
/**
 * Used as main page navigation in templates.
 */
export default {
  name: "HeroBanner",
  status: "ready",
  release: "1.0.0",
  props: {
    image: {
      type: String,
      default: "#",
    },
  }
}
</script>

<style lang="scss">

$color-background: $color-vermilion;
$color-image-background: $color-silver;
$padding: $space-x-large;

.hero-banner{
  background-color: $color-background;
  height: 500px;
  overflow:hidden;
  display: flex;
  justify-content: space-between; 
}

.hero-banner__img{
  background-color: $color-image-background;
  flex: 1;
}
.hero-banner__img > img{
  
}

.hero-banner__copy{
  width: 400px;
  padding: $padding;
  color: white;
}

.hero-banner__heading{
  font-size: $font_size_xx_large;
}

.hero-banner__leading{
  font-size: $font_size_base;
  padding: $padding;
}

</style>
